.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/images/location3.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.5), rgba(10, 7, 27, 0.7));
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 20rem 3rem;
  z-index: 5;
}

.icon {
  color: var(--tan);
  z-index: 5;
  font-size: 3rem;
}

.sectionHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionHeadingContainer,
.heading,
.desc,
.btnContainer {
  color: var(--tan);
  z-index: 5;
  text-align: center;
}

.desc {
  max-width: 400px;
}
