.container {
  border: 1px solid var(--brownii);
  border-radius: 10px;
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.label {
  width: 100%;
  background-color: var(--brownii);
  border-radius: 7px;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: var(--interTight);
  font-weight: 600;
  text-transform: none;
}

.value {
  font-size: 2rem;
  color: var(--black);
  font-family: var(--interTight);
}

@media screen and (max-width: 568px) {
  .container {
    gap: 3rem;
  }
}
