.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--darkBrown);
  font-size: 4rem;
  font-family: var(--interTight);
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0px;
}

.copy {
  color: var(--darkBrown);
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--inter);
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 50%;
}

.adminBtnContainer {
  width: 100%;
  display: grid;
  width: 50%;
}

@media screen and (max-width: 1068px) {
  .btnContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .adminBtnContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 100%;
  }

  .btnContainer,
  .adminBtnContainer {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
