.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.text {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5.5px;
  font-family: var(--poppins);
  text-transform: uppercase;
  white-space: nowrap;
}

.tan {
  color: var(--tan);
}
