.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.top {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 3rem;
  width: 100%;
}

.left,
.right {
  width: 100%;
}

.left {
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img {
  object-fit: cover;
  border-radius: 0;
}

.imgOverlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  position: absolute;
  inset: 0;
}

.textContainer {
  position: absolute;
  top: 2rem;
  right: 2rem;
  left: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: auto;
  padding: 0;
  color: var(--tan);
  text-align: right;
}
.heading,
.copy {
  color: var(--tan);
  /* text-align: right; */
}

.copy {
  max-width: 450px;
}

.copy {
  margin-bottom: 2rem;
  color: var(--blue);
  font-family: var(--SFUIMedium);
  width: 90%;
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
  }

  .textContainer {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .right {
    order: -1;
  }

  .imgContainer {
    width: 100%;
    height: 30vh;
  }

  .formContainer {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 100%;
    height: 350px;
  }
}
