.text {
  font-family: var(--Voyage);
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--black);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.tan {
  color: var(--tan);
}

.icon {
  font-size: 3rem;
}
