.text {
  font-family: var(--Voyage);
  /* text-transform: uppercase; */
  font-size: 3.2rem;
  font-weight: 700;
  /* line-height: 3.2rem; */
  color: var(--black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.tan {
  color: var(--tan);
}

.icon {
  font-size: 2.5rem;
}
